body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#fly {

  display: none;

  float: left;
  position: relative;
  margin: .5em;
  width: 20%;
  height: 2.5em;
  padding: .5em;
  border: none;
  border-radius: .25em;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #f36;
  box-shadow: 0 0 1em #666;
  //cursor: pointer;
}

#log {
  position: absolute;
  margin: 2.5em .75em;
  font-size: .75rem;
  background: rgba(255,255,255,.5);
  bottom: 0;
  left: 0;
  min-width: 16em;
}
#log p {
  margin: .5em;
  color: #666;
  max-width: 16em;
  overflow: hidden;
  height: 1em;
  white-space: nowrap;
  min-width: 9em;
}
#log span {
  color: #000;
}
