

html, body, .map-container {
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0; 
}


.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "pop-caption pop-caption"
    "pop-location pop-location"
    "pop-facilities pop-facilities"
    "pop-availability pop-availability"
    "pop-operator pop-report";
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 2em 2em 2em 2em 3em;*/
    grid-auto-rows: minmax(min-content, max-content);
  }
  .container > div {
    border: 1px dashed #888;
  }
  
  .pop-caption {
    grid-area: pop-caption;
    background: black; 
    color:white;
    font-weight: bold;
    padding: 0.2em .5em;
  }
  .pop-location {
    grid-area: pop-location;
  }
  .pop-facilities {
    grid-area: pop-facilities;
  }
  .pop-availability {
    grid-area: pop-availability;
  }
  .pop-operator {
    grid-area: pop-operator;
  }
  .pop-report {
    grid-area: pop-report;
    text-align: center;
  }
.leaflet-popup-content-wrapper {
    border-radius: 0;
    padding:1px;
    margin:0px;
    background-color: black;
}
.leaflet-popup-content{
    margin:2px;   
    padding:2px;
    background-color:white;
    color:black;
    font-size:120%;
    width:400px;
}
/*
.leaflet-popup-content header{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 150%;
    background-color: black;
    color:white;
    padding:1px 10px;
    width:300px;
}*/
/*Indicates a 'coming soon' feature*/
.temp{
    background-color: lightyellow;
}

    /*
  .custom-popup .leaflet-popup-content-wrapper a {
    color:rgba(255,255,255,0.5);
    }
  .custom-popup .leaflet-popup-tip-container {
    width:30px;
    height:15px;
    }*
      .custom-popup .leaflet-popup-tip {
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    border-top:15px solid #2c3e50;
    }*/