html, body, .map-container {
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0; 
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    padding:1px 1px;
    grid-template-areas:
      "pop-location pop-location"
      "pop-description pop-description"
      "pop-facilities pop-facilities"
      "pop-availability pop-current"
      "pop-contact pop-contact"
      "pop-meta pop-meta";
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 2em 2em 2em 2em 3em;*/
    grid-auto-rows: minmax(min-content, max-content);
  }
  .container > div {
    /*border: 1px solid #888;*/
    background-color: #f1f1f1;
    margin:1px;
    /*border-color: white;*/
  }
  
  .pop-caption {
    grid-area: pop-caption;
    background: black; 
    color:white;
    font-weight: bold;
    padding: 0.2em -2em;
  }
  .pop-location {
    grid-area: pop-location;
  }
  .pop-description {
    grid-area: pop-description;
  }
  .pop-facilities {
    grid-area: pop-facilities;
  }
  .pop-availability {
    grid-area: pop-availability;
  }
  .pop-current {
    grid-area: pop-current;
    /*text-align: center;*/
    /*display: flex;*/
    justify-content: center;
    /* align-self: center;    <---- REMOVE */
    align-items: center;   
  }
  .pop-contact {
    grid-area: pop-contact;
    text-overflow:clip;

  }
  .pop-meta {
    grid-area: pop-meta;
    text-align: center;
    font-size: smaller;
    overflow-wrap: break-word;
  }/*
.leaflet-popup-content-wrapper {
    border-radius: 0;
    padding:1px;
    margin:0px;
    background-color: black;
}
.leaflet-popup-content{
    margin:0px;   
    padding:0px;
    background-color:white;
    color:black;
    font-size:120%;
    width:400px;
}*/

.open-sign{
  display: block;
 
  margin:.5em 5em;
  /* Give it a white border */
  border: 5px solid #fff;
  /* pad content text away from the edges of the sign */
  padding: 0.25em 1em .75em;
  /* give it  a drop shadow and inset shadow at the top */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.4);
  /* setup a default background red and a red gradient where supported */
  background-color: #0049d1;
  color:white;
  text-align: center;
  align-items: center;
  font-weight: bold;
  border-radius: 15px;
}

.leaflet-control-layers-base{
  display: none;
}

.leaflet-control-layers-overlays label{
  display: inline-block;
  font-size: 1.5em;
  padding:0 .5em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  margin-bottom: 0rem;
  /*color:white;*/
  height:2em;
}
.leaflet-control-layers-overlays label div{
  margin-top: .2em;
}

.leaflet-control-layers-overlays label input{
  display: none;
}

.leaflet-control-layers-overlays label i{
  padding:4px;
  width:1.5em;
}

/*Colours suggested by: https://personal.sron.nl/~pault/ as being good for contrast
 rose  indigo  sand(#DDCC77)  green  cyan  wine (#882255) teal  olive  purple  pale grey 
 */
.leaflet-control-layers-overlays label .fa-parking {background-color:indigo;}
.leaflet-control-layers-overlays label .fa-info-circle{background-color:green;}
.leaflet-control-layers-overlays label .fa-toilet{background-color: #DDCC77;}
.leaflet-control-layers-overlays label .fa-utensils{background-color:purple;}
.leaflet-control-layers-overlays label .fa-shopping-cart{background-color:cyan;}
.leaflet-control-layers-overlays label .fa-hands-helping{background-color:olive;}
.leaflet-control-layers-overlays label .fa-laugh-beam{background-color: teal;}
.leaflet-control-layers-overlays label .fa-life-ring{background-color: #882255;}

.logoContainer{
  position: absolute;
  z-index: 100;
  bottom: 15px;
  left: 15px;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.logoContainer::before {
  content: '';
  margin: -35px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(20px);
  z-index: -1;
}


.shadowfilter {
	/* drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
	drop-shadow:(12px 12px 7px rgba(0,0,0,0.5));
  filter: url(shadow.svg#drop-shadow);*/
  /*filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
  url(#outline) 
  */
  filter: drop-shadow(5px 5px 7px rgba(0,0,0,0.5)); 

}
.logo{
  width:90%;
  height:90%;

}
.leaflet-control-layers-separator{
  display: none;
}

.tooltip {
  pointer-events: none;
}

#Tour #Tour-box{
  width:450px;
}
